.container{
    position: fixed;
    display: flex;
    align-items: center;

    top: 0;
    left:0;
    right: 0;
    height: 8vh;
    /* width: 100%; */
}

.button {
    position: absolute;
    right: 32px;
    width: 160px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: white;
    background-color: rgba(255,255,255,0.25);
    padding: 4px 8px;
    border-radius: 8px;

    cursor: pointer;
}

.button-icon {
    width: 36px;
    height: 36px;
}
.button-text {
    width: 100%;
    text-align: center;
}
