.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: solid 2px red; */
    width: 60vw;
    max-width: 720px;
    height: 50vh;
    color: white;
}

.main-card {
    width: 100%;

    background-color: rgba(0,0,0,0.75);
    padding: 2vh 5vw;
    border-radius: 12px;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    margin: 1vh 0 0;
    line-height: 1.15;
    font-size: 10vmin;
    font-weight: bold;
}
.sub-title {
    margin: 1vh 0 0;
    font-size: 2vmin;
}

.times {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 1vw;
}

.value {
    font-size: 10vmin;
    line-height: 1.15;
    font-family: content;
    font-weight: bold;
}

.label {
    font-size: 1vmin;
}

.mint-button {
    margin-top: 48px;
    width: 128px;
    height: 36px;

    color: white;
    background-color: rgba(255,255,255,0.25);
    padding: 4px 8px;
    border-radius: 8px;

    font-size: 20px;
    line-height: 36px;

    text-align: center;

    cursor: pointer;
}
.disabled {
    opacity: 0.5;

    cursor: not-allowed;
}
